<title>Lending Hand - About Us</title>
<link rel="icon" href="https://cdn.glitch.com/a1d52a90-09e0-4755-8054-b7d1c59f8abe%2FLendingHandWeireder.png?v=1594829173685">
<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  <b> About Us -- The Devs</b>
  
</h1>
<p>
    We are highschool students from across the world, coming together to develop an app that we are all very passionate about. Through this, we hope to truly make the world a better place and provide an easy and simple solution for those looking to help out in their communities. Thank you for checking out what we have worked so hard on.
  </p>
<br>
<h2>
  Founding Team:
</h2>
<ul>
  <!--Add Your Names to the list-->
  <!-- Comic Sans Gold!!!!-->
  <li><p style ="font-family:Courier New;"><Strong><a href="/aboutBraedon">Braedon Nguyen</a></Strong></p> </li><br>
  <li><p style ="font-family:Courier New"><strong><a href ="/aboutSebastian">Sebastian Bjorkeson</a></strong></p></li><br>
  <li><p style ="font-family:Courier New"><strong><a href ="/aboutMarko">Marko Tanevski</a></strong></p></li><br>
  <li><p style ="font-family:Courier New"><strong><a href="/aboutBen">Ben Schietinger</a></strong></p></li><br>
  <li><p style ="font-family:Courier New"><strong><a href="/aboutBrian">Brian Haimowitz</a></strong></p></li><br>
  <li><p style ="font-family:Courier New"><strong><a href ="/aboutAnna">Anna Balin</a></strong></p></li><br>
  <li><p style ="font-family:Courier New"><strong><a href="/aboutRebecca">Rebecca Sullivan</a></strong></p></li><br>
</ul>

<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <body style="background-color:lightblue;">
   </body>
</html>

<%- include('bootfooter') -%>
