<title>Lending Hand - Awesome Guy</title>
<link rel="icon" href="https://cdn.glitch.com/a1d52a90-09e0-4755-8054-b7d1c59f8abe%2FLendingHandWeireder.png?v=1594829173685">
<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  <b> About Us -- Brian H</b>
  
</h1>
<p>
The UI Guy    
</p>
<br>
<h2>
I am</h2>
<ul>
  <li>An experienced coder with knowlege of HTML, CSS, JavaScript, C++, C, and Python</li>
  <li>Going into senior year of high school</li>
  <li>Interested in CompSci or engineering as a career</li>
  <li>Plays baseball and basketball</li>
  <li>Tries to make forms look nice</li>
  <!--Add Your Names to the list-->
  <!-- Comic Sans Gold!!!!-->
  
</ul>

<h4>
  <a href="/viewUserPage/bhaimz11">VIEW MY USER PAGE</a>
</h4>
<br>

<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <body style="background-color:#3498DB;">
   </body>
</html>

<%- include('bootfooter') -%>