<title>Lending Hand - Rebecca</title>
<link rel="icon" href="https://cdn.glitch.com/a1d52a90-09e0-4755-8054-b7d1c59f8abe%2FLendingHandWeireder.png?v=1594829173685">
<%- include('bootheader') -%>
<%- include('menubar') -%>
<body>
   
    
      <h1 style="color:black;"> 
  <b> About Us -- Rebecca </b>
</h1>
  
<p style="color:white;"><b>
  Hi, I'm Rebecca, I am going into my sophmore year of high school. <br>

 I have learned Java, JavaScript and Python over the course of my life! <br>

  I am interested in Medicine as a career and love math and science!<br>

 I love sports epsecially volleyball, ice skating and tennis! <br>

  Thanks for visiting my about page and thanks for visiting our site!<br>

  Have an amazing day! :)
</p>
  </b>

  
</body>

<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
  
   <body style="background-color:#d9b3ff;">
   </body>
</html>

<%- include('bootfooter') -%>
