<title>Lending Hand - Ben</title>
<link rel="icon" href="https://cdn.glitch.com/a1d52a90-09e0-4755-8054-b7d1c59f8abe%2FLendingHandWeireder.png?v=1594829173685">
<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1>
  <b> About Us -- Ben S</b>
  
</h1>
<p>
The creative mind  
</p>
<br>
<h1>
I am</h1>
<ul>
  <li>A new coder gaining experience with HTML and some Java script</li>
  <li>A high school student</li>
  <li>Interested in further exploring these languages</li>
  <li> Helping with organization and Register</li>
  <!--Add Your Names to the list-->
  <!-- Comic Sans Gold!!!!-->
  
</ul>

<h4>
  <a href="/viewUserPage/Ben S">VIEW MY USER PAGE</a>
</h4>

<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <body style="background-color:#3498DB;">
   </body>
</html>

<%- include('bootfooter') -%>

