<%- include('bootheader') -%>
<%- include('menubar') -%>
  <h1>This is the Demo page</h1>
<p>
  give me your ids
</p>
Your ID IS:  <%= user._id %>
<%console.log(user._id) %>
  <p> This is a paragraph </p>
<%- include('bootfooter') -%>
