<title>Lending Hand - Testing</title>
<link rel="icon" href="https://cdn.glitch.com/a1d52a90-09e0-4755-8054-b7d1c59f8abe%2FLendingHandWeireder.png?v=1594829173685">
<%- include('bootheader') -%>
<%- include('menubar') -%>
  <h1>Testing</h1>

<ol>
 <li>Create a volunteer account (remember your zip!)</li>
  <li>Login/logout</li>
  <li>Look at the event feed, sign up/ cancel for some events</li>
  <li>Create an event (at your location)</li>
  <li>Open your personal feed (your event should appear)</li>
  <li>Search for some existing events by zip-code</li>
  <li>Open your profile</li>
  <li>If you edit an aspect of the profile, you must log out then log back in</li>
  <li>Search for some other profiles (ex. Jane)</li>
  <li>Check out the devs!</li>
  <li>Fill out the Google Form on the home page if you have the time and energy</li>
</ol>
<%- include('bootfooter') -%>
